.header	{

	text-align:center;
	font-family: 'Poiret One', cursive;
	color: #CC2890;
	font-size: 36px;
	border: solid;
	border-color:#CC2890;
	background-color: 	#D3D3D3;

}

.sections {
	font-family: 'Roboto Condensed', sans-serif;
	color: #CC2890;
	font-size: 16px;
	border:solid;
	width: 42%;
	padding-left: 6px;
	padding-right: 6px;
	background-color: 	#D3D3D3;
}
*	{
	max-width: 1100px;
}

p	{
	font-family: 'Playfair Display', serif;
	color: #CC2890;
	font-size: 16px;
}

img {
	width: 200px;
	border: solid;
	border-color:#CC2890;
	max-height: 200px;
	margin-right:100px;
	align-self: auto;
}

.wrap {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

#cf {
	position: relative;
	margin-right: 0 auto;
}

#cf img {
	position: absolute;
	left: 0;
    transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
 	opacity:0;
}



.bottom {
	width: 200px;
	border: solid;
	border-color:#CC2890;
	max-height: 200px;
	margin-right:100px;
	height: 150px;
	margin-left: 150px;
}

.top {
	width: 200px;
	border: solid;
	border-color:#CC2890;
	max-height: 200px;
	margin-right:100px;
	height: 150px;
	margin-left: 150px;
}

.wrap2 {
	margin-top: 12px;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	align-self: auto;
}

.container {
	align-items: auto;
}